<div class="container">
  <div class="splash-page">
      <h1>MOVIE MANAGER</h1>
    <%= link_to collections_path do %>
      <%= image_tag "movie_mngr.jpg", class: 'img-thumbnail' %>
    <% end %>
  </div>
</div>