/*
 *= require_tree .
 *= require_self
 *= require dataTables/jquery.dataTables
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
}
.container{
  min-height: 500px;
}

.user-info{
  margin-top: 9px;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 18px;
}

.align-glyphicon{
  display: inline-block;
}
.table tr td, .table th{
  width: 15%;
}
.table tr td.movie-title{
  width: 25%;
}
.table th.head-title{
  width: 25%;
}

table.head-margin{
  margin-bottom: 0;
}

footer{
  p{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
  }
  p#margin-align{
    margin-top: 0;
    margin-bottom: 8px;
  }
}
.nav{
  margin: 1.5% 0;
}

footer{
  font-size: 12px;
}

.splash-page{
  text-align: center;
  width: 100%;
}